{source}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.scrollable {
			overflow-y: scroll;
			max-height: 700px;
			/* atur tinggi maksimum scroll */
		}
	</style>
</head>

<body>
	<div class="bar blockheader" style="text-align: center;">
		<div class="bar blockheader" style="text-align: center;">
			<p class="t">AGENDA KERJA PIMPINAN</p>
			<p class="t">PENGADILAN AGAMA AMUNTAI</p>
		</div>
		<div class="scrollable box-body blockcontent-body">
			<table border="1" style="width: 100%; text-align: left;">
				<thead>
					<tr>
						<th>TANGGAL</th>
						<th>AGENDA KERJA</th>
						<th>TEMPAT</th>
					</tr>
				</thead>
				<tbody>

					<!-- Mei 2025 -->
					<tr>
						<td>02-05-2025</td>
						<td>Sekretaris Pengadilan Agama Amuntai Kelas IB, Bapak Salmani, S.Ag., menghadiri Rapat
							Persiapan Hari Jadi ke-73 Kabupaten Hulu Sungai Utara (HSU) mewakili Ketua Pengadilan Agama
							Amuntai Kelas IB</td>
						<td>Aula KH. Dr. Idham Khalid, Amuntai</td>
					</tr>
					<tr>
						<td>03-05-2025</td>
						<td>Sekretaris Pengadilan Agama Amuntai Kelas IB, Bapak Salmani, S.Ag., menghadiri acara Rapat
							Senat Terbuka Sekolah Tinggi Agama Islam (STAI) Rasyidiyah Khalidiyah (Rakha) Amuntai yang
							digelar dalam rangka Wisuda Sarjana Tahun Akademik 2024/2025</td>
						<td>Halaman Kantor PA Amuntai</td>
					</tr>
					<tr>
						<td>05-05-2025</td>
						<td>Pengadilan Agama Amuntai Kelas IB resmi menandatangani penambahan daya listrik gedung kantor
							untuk Tahun Anggaran 2025. Penandatanganan ini dipimpin oleh Sekretaris PA Amuntai, Bapak
							Salmani, bersama tim dan didukung oleh PLN sebagai mitra teknis.</td>
						<td>Gedung DPRD Kabupaten Hulu Sungai Utara</td>
					</tr>
					<tr>
						<td>06-05-2025</td>
						<td>Sekretaris PA Amuntai Bapak Salmani, S.Ag. mewakili Ketua PA Amuntai menghadiri upacara
							Peringatan Hari Pendidikan Nasional Tahun 2025 di Halaman Kantor Bupati Hulu Sungai Utara
						</td>
						<td>Kantor Bupati Hulu Sungai Utara</td>
					</tr>
					<tr>
						<td>06-05-2025</td>
						<td>Panitera Pengadilan Agama Amuntai, Bapak H. Ahmad Salim Ridha, S.Ag., M.H., hadir sebagai
							narasumber dalam kegiatan sosialisasi bersama Disduk Capil Balangan</td>
						<td>Lingkungan Pemerintah Daerah Kabupaten Hulu Sungai Utara</td>
					</tr>
					<tr>
						<td>06-05-2025</td>
						<td>Pengadilan Agama Amuntai Kelas IB menerima kunjungan YM Ketua PTA Banjarmasin Bapak Dr. Drs.
							H. Izzuddin Hm, S.H., M.H. Sekretaris PTA Banjarmasin Bapak H. Hendra Surya, S.H., S.Sos.,
							M.M. dan Pejabat lainnya</td>
						<td>Pendopo Kabupaten Hulu Sungai Utara</td>
					</tr>
					<tr>
						<td>07-05-2025</td>
						<td>Pengadilan Agama Amuntai Kelas IB menerima kunjungan Sekretaris PTA Banjarmasin, Bapak H.
							Hendra Surya, S.H., S.Sos., M.M</td>
						<td>Ruang Media Center PA Amuntai</td>
					</tr>
					<tr>
						<td>07-05-2025</td>
						<td>Ketua Pengadilan Agama Amuntai, YM Bapak Bahrul Maji, S.H.I., menghadiri Puncak Peringatan
							HUT ke-73 Kabupaten Hulu Sungai Utara (HSU) yang diselenggarakan oleh Pemkab HSU</td>
						<td>Kabupaten Balangan dan Kecamatan Lampihong</td>
					</tr>
					<tr>
						<td>08-05-2025</td>
						<td>Pengadilan Agama Amuntai Kelas IB menggelar sidang itsbat nikah terpadu di Aula Kecamatan
							Lampihong, Kabupaten Balangan, dalam rangka memberikan kepastian hukum kepada pasangan suami
							istri yang belum memiliki akta nikah resmi dari negara</td>
						<td>Ruang Media Center PA Amuntai</td>
					</tr>
					<tr>
						<td>08-05-2025</td>
						<td>Pengadilan Agama Amuntai Kelas IB menggelar sidang itsbat nikah terpadu di Aula Kecamatan
							Lampihong, Kabupaten Balangan, dalam rangka memberikan kepastian hukum kepada pasangan suami
							istri yang belum memiliki akta nikah resmi dari negara</td>
						<td>Ruang Media Center Pengadilan Agama Amuntai</td>
					</tr>
					<tr>
						<td>08-05-2025</td>
						<td>Pengadilan Agama Amuntai Kelas IB menggelar acara pengambilan sumpah/janji Pegawai Negeri
							Sipil (PNS) dalam upaya penguatan sumber daya manusia aparatur peradilan</td>
						<td>Ruang Media Center PA Amuntai</td>
					</tr>
					<tr>
						<td>15-05-2025</td>
						<td>YM Ketua Pengadilan Agama Amuntai Kelas IB, Bapak Bahrul Maji, S.H.I., bersama Wakil Ketua
							Bapak H. Abdurrahman, S.Ag., M.H., Hakim Bapak Drs. H. Syamsi Bahrun, M.Sy., Ibu Rabiatul
							Adawiah, S.Ag., Bapak Taufik Rahman, S.H.I., serta Panitera Bapak H. Ahmad Salim Ridha,
							S.Ag., M.H., mengikuti kegiatan Pembinaan oleh Ketua Muda Agama Mahkamah Agung Republik
							Indonesia, YM Dr. H. Yasardin, S.H., M.Hum</td>
						<td>Pengadilan Agama Banjarmasin</td>
					</tr>
					<tr>
						<td>22-05-2025</td>
						<td>Pengadilan Agama Amuntai Kelas IB kembali menunjukkan komitmennya dalam memberikan layanan
							hukum kepada masyarakat dengan menggelar kegiatan itsbat nikah terpadu yang berlangsung di
							Aula Serbaguna Kecamatan Lampihong, Kabupaten Balangan</td>
						<td>Pengadilan Agama Negara</td>
					</tr>
					<tr>
						<td>23-05-2025</td>
						<td>Pengadilan Agama Amuntai mengikuti Bimbingan Teknis Nasional bertema "Kaum Rentan Berhadapan
							dengan Hukum" yang digelar Ditjen Badilag</td>
						<td>Secara Daring (Online)</td>
					</tr>
					<tr>
						<td>26-05-2025</td>
						<td>YM Ketua Pengadilan Agama Amuntai Kelas IB, Bapak Bahrul Maji, S.H.I., menghadiri kegiatan
							perpisahan siswa dan siswi Pesantren Ihya Ulumuddin Nur Sufiiyah Amuntai pada Hari Senin, 26
							Mei 2025</td>
						<td>Halaman Kantor Bupati Hulu Sungai Utara</td>
					</tr>
					<tr>
						<td>27-05-2025</td>
						<td>Panitera Muda Hukum Ibu Hj. Hayatun Najiah, S.H.I. bersama Panitera Muda Gugatan Ibu Hj.
							Khairunnida, S.Ag beserta Staff Bapak Yusup Iskandar, S.H. ikuti Sosialisasi Pelaksanaan
							Itsbat Nikah Rukyat Hilal dan Data Falakiyah Serta Penerbitan Salinan Putusan dan Akra Cerai
							Secara Elektronik di Ruang Media Center</td>
						<td>Gedung DPRD Kabupaten HSU</td>
					</tr>
					<tr>
						<td>27-05-2025</td>
						<td>Sekretaris Pengadilan Agama Amuntai Kelas IB Bapak Salmani, S.Ag wakili Ketua hadiri Rapat
							Paripurna DPRD kabupaten Hulu Sungai Utara Penyampaian Jawaban Kepala Daerah Terhadap 5
							(lima) Buah Rancangan Peraturan Daerah Pemerintah Daerah Kabupaten Hulu Sungai Utara Tahun
							2025 di Aula DPRD Kabupaten Hulu Sungai Utara</td>
						<td>Ruang Sekretaris PA Amuntai</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
		// atur kecepatan scroll (semakin kecil nilai speed, semakin lambat)
		var speed = 1000; // ubah nilai speed menjadi lebih besar untuk memperlambat scroll
		// fungsi untuk menjalankan scroll otomatis
		function startScroll() {
			var scrollBox = document.querySelector('.scrollable');
			var scrollHeight = scrollBox.scrollHeight;
			var scrollTop = scrollBox.scrollTop;
			if (scrollTop < scrollHeight - scrollBox.clientHeight) {
				scrollBox.scrollTop = scrollTop + 1;
			} else {
				scrollBox.scrollTop = 0;
			}
		}
		// jalankan fungsi scroll otomatis
		var scrollInterval = setInterval(startScroll, speed);
		// hentikan scroll otomatis ketika mouse berada di atas elemen scroll
		var scrollBox = document.querySelector('.scrollable');
		scrollBox.addEventListener('mouseenter', function () {
			clearInterval(scrollInterval);
		});
		// lanjutkan scroll otomatis ketika mouse meninggalkan elemen scroll
		scrollBox.addEventListener('mouseleave', function () {
			scrollInterval = setInterval(startScroll, speed);
		});
	</script>
</body>

</html>
{/source}